In [1]:
import pandas as pd

In [2]:
Data = pd.read_csv("Zomato.csv")

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xc3 in position 32758: unexpected end of data

In [3]:
df=pd.read_csv("data gapminder.tsv", delimiter='\t')

In [4]:
df

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]

In [ ]:
pd.__version__

In [ ]:
pd.show_versions()

In [ ]:
df

In [ ]:
df.columns

In [ ]:
df.info()

In [ ]:
df.isnull()

In [ ]:
df.isnull().sum()

In [ ]:
df.country

In [ ]:
df.country.unique()

In [ ]:
df.country.nunique()

In [ ]:
df.country.value_counts()

In [ ]:
df

In [ ]:
df[df.continent=="Asia"]

In [ ]:
df[["pop","year"]].max()

In [ ]:
df.groupby("year").pop.sum().idxmax()

In [ ]:
df.groupby("year")["continent","lifeExp"].sum().idxmax()

In [ ]:
df[["country","gdpPercap"]].min()

In [ ]:
df[["year","country","continent",'lifeExp']].mean()

In [ ]:
df.groupby(["year","continent"]).lifeExp.sum().idxmax()

In [ ]:
df.groupby("country").gdpPercap.sum().idxmin()

In [ ]:
df.groupby("year").pop.sum().idxmax()

In [ ]:
df.groupby(["year","country","continent"]).lifeExp.mean().idxmax()

In [ ]:
df.groupby(["continent","country"]).country.nunique()

In [ ]:
df.continent.nunique()

In [ ]:
df.country.nunique().size

In [ ]:
df.loc[1]

In [ ]:
df.iloc[[-1, 1],[2,1]]

In [ ]:
df.loc[1:10]

In [5]:
data=df.set_index("year")

In [6]:
data

          country continent  lifeExp       pop   gdpPercap
year
1952  Afghanistan      Asia   28.801   8425333  779.445314
1957  Afghanistan      Asia   30.332   9240934  820.853030
1962  Afghanistan      Asia   31.997  10267083  853.100710
1967  Afghanistan      Asia   34.020  11537966  836.197138
1972  Afghanistan      Asia   36.088  13079460  739.981106
...           ...       ...      ...       ...         ...
1987     Zimbabwe    Africa   62.351   9216418  706.157306
1992     Zimbabwe    Africa   60.377  10704340  693.420786
1997     Zimbabwe    Africa   46.809  11404948  792.449960
2002     Zimbabwe    Africa   39.989  11926563  672.038623
2007     Zimbabwe    Africa   43.487  12311143  469.709298

[1704 rows x 5 columns]

In [ ]:
data.loc[2002]

In [10]:
data.reset_index()

      year      country continent  lifeExp       pop   gdpPercap
0     1952  Afghanistan      Asia   28.801   8425333  779.445314
1     1957  Afghanistan      Asia   30.332   9240934  820.853030
2     1962  Afghanistan      Asia   31.997  10267083  853.100710
3     1967  Afghanistan      Asia   34.020  11537966  836.197138
4     1972  Afghanistan      Asia   36.088  13079460  739.981106
...    ...          ...       ...      ...       ...         ...
1699  1987     Zimbabwe    Africa   62.351   9216418  706.157306
1700  1992     Zimbabwe    Africa   60.377  10704340  693.420786
1701  1997     Zimbabwe    Africa   46.809  11404948  792.449960
1702  2002     Zimbabwe    Africa   39.989  11926563  672.038623
1703  2007     Zimbabwe    Africa   43.487  12311143  469.709298

[1704 rows x 6 columns]

In [ ]:
 d1=data.reset_index()

In [ ]:
d1

In [ ]:
d2=df.set_index(["year","country"])

In [ ]:
d2

In [ ]:
d2.loc[1952,"Afghanistan"]

In [12]:
d3=df

In [13]:
d3

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]