# Variables

In [1]:
a=10
print("Print a value : " ,a)

Print a value :  10

In [2]:
b=12.50
print(b)

12.5

In [3]:
c= 'priya'
print("Print C value : " +c)
d=2+5j
print("Print d value : " ,d)

Print C value : priya
Print d value :  (2+5j)

In [4]:
print(type(a))
print(type(b));print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

In [5]:
print (isinstance(a, int))
print (isinstance(b, float))
print (isinstance(c, str))
print (isinstance(d, complex))

True
True
True
True

In [6]:
_animal="Lion"
print(_animal)

Lion

In [7]:
x=y=50
print(x,y)

50 50

In [8]:
print(id(x))
print(id(y))

140725776197552
140725776197552

In [9]:
print(id(a))

140725776196272

In [10]:
p,q,r =100,200,300
print(p,q,r)

100 200 300

In [11]:
# local variable 

def fun():
    var1=20
    var2=30
    print("Print var1:",+var1)
    print("Print var2:",+var2)
fun()

Print var1: 20
Print var2: 30

In [12]:
# local variable 

def fun():
    var1=20
    var2=30
    print("Print var1:",+var1)
    print("Print var2:",+var2)
fun()
print("Print var2:",+var2)

Print var1: 20
Print var2: 30

NameError: name 'var2' is not defined

In [ ]:
# global variable

g= 500
def main_func():
    i=2
    j=5
    k=i+j
    print("Print k:",+k)
    print("Print g:",+g)
main_func()
print("Print g:",+g)

In [ ]:
# to delete variable 
st =50
print(st)
del st
print(st)

# DataTypes

In [ ]:
#Set  -  unordered collection of the data type,  iterable, mutable(can modify after creation), and has unique elements.
set1={1,'da',2.3,'Priya',1}
set1

In [ ]:
set1[1]

In [ ]:
set1.add(35)
set1

In [ ]:
set1.add(34.5)
set1

In [ ]:
set1.remove(35)
set1

In [ ]:
#Boolean
""""Boolean type provides two built-in values, True and False. 
These values are used to determine the given statement true or false. 
It denotes by the class bool. True can be represented by any non-zero value or 'T' 
whereas false can be represented by the 0 or 'F'"""

print(type(True))
print(type(False)
print(True)

In [ ]:
# Dictionary
"""Dictionary is an unordered set of a key-value pair of items. 
It is like an associative array or a hash table where each key stores a specific value. 
Key can hold any primitive data type, whereas value is an arbitrary Python object."""

In [25]:
dic1={1:"apple",2:23}
dic1

{1: 'apple', 2: 23}

In [26]:
dic2={zz:"apple",aa:23,bb:1090.23}
dic2

NameError: name 'zz' is not defined

In [27]:
# to add the key -value pair in dictionary , but __setitem__() is avoidable because of its performance 

dic1.__setitem__(4,89)
dic1

{1: 'apple', 2: 23, 4: 89}

In [28]:
# to add  or update the key -value pair in dictionary 
dic1.update({6:"priya"})
dic1

{1: 'apple', 2: 23, 4: 89, 6: 'priya'}

In [29]:
dic2={11:23,22:"orange",33:2+7j}
dic2

{11: 23, 22: 'orange', 33: (2+7j)}

In [30]:
dic1.update(dic2)
dic1

{1: 'apple', 2: 23, 4: 89, 6: 'priya', 11: 23, 22: 'orange', 33: (2+7j)}

In [31]:
dic1[22],dic1[11]

('orange', 23)

In [32]:
print(dic1.values())

dict_values(['apple', 23, 89, 'priya', 23, 'orange', (2+7j)])

In [33]:
dic1.keys()

dict_keys([1, 2, 4, 6, 11, 22, 33])

In [34]:
"""Using * operator

Using this method we can merge old dictionary and new key/value pair in another dictionary."""

'Using * operator\n\nUsing this method we can merge old dictionary and new key/value pair in another dictionary.'

In [35]:
old_dict = {'a': 1, 'b': 2}
  
# will create a new dictionary
new_dict = {**old_dict, **{'c': 3}}
  
print(old_dict)
print(new_dict)

{'a': 1, 'b': 2}
{'a': 1, 'b': 2, 'c': 3}

In [ ]:
# string 

str1="PRIYA"
print(str1)
str2="Good Morning"
print(str2)
str3="!"
print(str3*5)
print(str2+str3+","+str1)

In [ ]:
s= "shanmugapriya"
print(s[:])
print(s[0:])
print(s[1:])
print(s[0:6])
print(s[:-1])
print(s[5:-5])
print(s[-5:-1])

In [13]:
#[start(inclusive): stop(exclusive): step]
print("python"[::])
print("python"[:])
print("python"[::-1])
print("python"[:-1])
print("pythonpriya"[::-2])
print("python"[:-2])
print("pythonshanmu"[:4:-2])
print("rainbowsky"[:8:2])
print("bluebutterfly"[:8:2])

#print("python"[:1:-1])
print("python"[-1::-2])
print("pythoncode"[:-3:-2])

python
python
nohtyp
pytho
aipotp
pyth
unhn
y
bubt
nhy
e

In [24]:
print("pythonshanmu"[:4:-2])
print("rainbowsky"[:8:-2])
print("rainbowsky"[:-5:2])
print("pythoncode"[:-4:-2])

unhn
y
rib
eo

In [ ]:
#List - order collection of all datatypes data. Mutable

In [36]:
l1=[1,"apple",2.4]
l1

[1, 'apple', 2.4]

In [37]:
l1[2]

2.4

In [38]:
l1[0]='priya'

In [39]:
l1

['priya', 'apple', 2.4]

In [40]:
l1[:]

['priya', 'apple', 2.4]

In [41]:
l1[:2]

['priya', 'apple']

In [42]:
l1[:3]

['priya', 'apple', 2.4]

In [43]:
l1+l1

['priya', 'apple', 2.4, 'priya', 'apple', 2.4]

In [45]:
l1*3

['priya', 'apple', 2.4, 'priya', 'apple', 2.4, 'priya', 'apple', 2.4]

In [46]:
# Tuple
 # ordered collection different datatypes data , immutable

In [48]:
t1=(1,2,55,"ring","8.0")
t1

(1, 2, 55, 'ring', '8.0')

In [49]:
t1[2]

55

In [50]:
t1[1]=656

TypeError: 'tuple' object does not support item assignment

In [52]:
tup=(1,5,75,["priya",2.3,446,76868.87]) # tuple is mutable when we use list inside tuple
tup

(1, 5, 75, ['priya', 2.3, 446, 76868.87])

In [53]:
tup[3][3]='Mutable'

In [54]:
tup

(1, 5, 75, ['priya', 2.3, 446, 'Mutable'])

In [55]:
dict3={1:"priya",2:"papu",1:"mosakotta"}

In [57]:
dict3

{1: 'mosakotta', 2: 'papu'}

In [60]:
# list 
#to add the elemt to the list use append()
list1=[1,2,45,6,7,8,5.5,"MOSSI"]
list1

[1, 2, 45, 6, 7, 8, 5.5, 'MOSSI']

In [61]:
list1.append("Priya")
list1

[1, 2, 45, 6, 7, 8, 5.5, 'MOSSI', 'Priya']

In [63]:
# to add the one list elemets to another list use extend
list2=[22,34,55,666]
list3=["priya","papu","mosakotta"]

In [66]:
print(list2)
print(list3)

[22, 34, 55, 666]
['priya', 'papu', 'mosakotta']

In [67]:
list2.extend(list3)
list2

[22, 34, 55, 666, 'priya', 'papu', 'mosakotta']