In [1]:
pip install pymongo

Requirement already satisfied: pymongo in c:\users\dell\anaconda3\lib\site-packages (3.12.1)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pymongo

C:\Users\Dell\anaconda3\lib\site-packages\requests\__init__.py:91: RequestsDependencyWarning: urllib3 (1.26.7) or chardet (3.0.4) doesn't match a supported version!
  RequestsDependencyWarning)

In [3]:
client = pymongo.MongoClient("mongodb://127.0.0.1:27017/")# 127.0.0.1 - IP address  #27017 - port number

In [4]:
student_database = client["Student"] #Database

In [5]:
std_coll = student_database["student_collection"] #collection

In [6]:
std_coll.insert_one({"Name":"Priya"}) #

In [7]:
std_coll.insert_many([{"fname":"shanmuga","lname":"priya"},{"Class":"12th","Age":25}])

In [11]:
std_coll.find()

In [12]:
student_cursor=std_coll.find()

In [13]:
student_cursor.next()

{'_id': ObjectId('61d499471d91ff767ee19ee3'), 'Name': 'Priya'}

In [15]:
for i in std_coll.find():
    print(i)

{'_id': ObjectId('61d499471d91ff767ee19ee3'), 'Name': 'Priya'}
{'_id': ObjectId('61d49a231d91ff767ee19ee4'), 'fname': 'shanmuga', 'lname': 'priya'}
{'_id': ObjectId('61d49a231d91ff767ee19ee5'), 'Class': '12th', 'Age': 25}

In [6]:
std_coll.insert_many([{"Name":"Roja"},
                      {"fname":"Roja","lname":"Kalai"},
                      {"Class":"10th","Age":26}])

In [14]:
std_coll.insert_many([{"Name":"Roja"},
                      {"fname":"Roja","lname":"Hanvika"},
                      {"Class":"12th","Age":25}])

In [15]:
for i in std_coll.find():
    print(i)

{'_id': ObjectId('61d499471d91ff767ee19ee3'), 'Name': 'Priya'}
{'_id': ObjectId('61d49a231d91ff767ee19ee4'), 'fname': 'shanmuga', 'lname': 'priya'}
{'_id': ObjectId('61d49a231d91ff767ee19ee5'), 'Class': '12th', 'Age': 25}
{'_id': ObjectId('61d72b138195f49031ccaef9'), 'Name': 'Roja'}
{'_id': ObjectId('61d72b138195f49031ccaefa'), 'fname': 'Roja', 'lname': 'Kalai'}
{'_id': ObjectId('61d72b138195f49031ccaefb'), 'Class': '10th', 'Age': 26}
{'_id': ObjectId('61d72c5d8195f49031ccaefc'), 'Name': 'Roja'}
{'_id': ObjectId('61d72c5d8195f49031ccaefd'), 'fname': 'Roja', 'lname': 'Hanvika'}
{'_id': ObjectId('61d72c5d8195f49031ccaefe'), 'Class': '12th', 'Age': 25}

In [12]:
# using condition
for i in std_coll.find({"Name":"Priya"}):
    print(i)

{'_id': ObjectId('61d499471d91ff767ee19ee3'), 'Name': 'Priya'}

In [13]:
for i in std_coll.find({"fname":"Roja"}):
    print(i)

{'_id': ObjectId('61d72b138195f49031ccaefa'), 'fname': 'Roja', 'lname': 'Kalai'}

In [17]:
for i in std_coll.find({"fname":"Roja",'lname': 'Hanvika'}):
    print(i)

{'_id': ObjectId('61d72c5d8195f49031ccaefd'), 'fname': 'Roja', 'lname': 'Hanvika'}

In [20]:
## querying using $gt, #lt, $in

for i in std_coll.find({"fname":{"$in":["Roja","Priya"]}}):
    print(i)

{'_id': ObjectId('61d72b138195f49031ccaefa'), 'fname': 'Roja', 'lname': 'Kalai'}
{'_id': ObjectId('61d72c5d8195f49031ccaefd'), 'fname': 'Roja', 'lname': 'Hanvika'}

In [22]:
for i in std_coll.find({"Age":{"$gt":25}}):
    print(i)

{'_id': ObjectId('61d72b138195f49031ccaefb'), 'Class': '10th', 'Age': 26}

In [23]:
for i in std_coll.find({"Age":{"$lt":26}}):
    print(i)

{'_id': ObjectId('61d49a231d91ff767ee19ee5'), 'Class': '12th', 'Age': 25}
{'_id': ObjectId('61d72c5d8195f49031ccaefe'), 'Class': '12th', 'Age': 25}

In [27]:
# and operation
for i in std_coll.find({"Class":"10th","Age":{"$lt":27}}):
    print(i)

{'_id': ObjectId('61d72b138195f49031ccaefb'), 'Class': '10th', 'Age': 26}

In [32]:
# AND operation
for i in std_coll.find({"$and":[{"fname":"shanmuga"},{'lname': 'priya'}]}):
        print(i)

{'_id': ObjectId('61d49a231d91ff767ee19ee4'), 'fname': 'shanmuga', 'lname': 'priya'}

In [31]:
# OR operation
for i in std_coll.find({"$or":[{"fname":"shanmuga"},{'Age': 25}]}):
        print(i)

{'_id': ObjectId('61d49a231d91ff767ee19ee4'), 'fname': 'shanmuga', 'lname': 'priya'}
{'_id': ObjectId('61d49a231d91ff767ee19ee5'), 'Class': '12th', 'Age': 25}
{'_id': ObjectId('61d72c5d8195f49031ccaefe'), 'Class': '12th', 'Age': 25}

In [35]:
# other collection in same database

sf=student_database.std_fees

In [36]:
sf

Collection(Database(MongoClient(host=['127.0.0.1:27017'], document_class=dict, tz_aware=False, connect=True), 'Student'), 'std_fees')

In [37]:
sf.insert_one({"Name":34000})

## UPDATION

In [38]:
details=student_database.details

In [39]:
details.insert_one({
  "Name": "priya",
  "Mobile": 12345678,
  "Boolean": True,
  "Pets": ["Dog", "cat"],
  "Address": {"Permanent address": "USA","current Address": "AU"}
})

In [40]:
for i in details.find():
    print(i)

{'_id': ObjectId('61d736398195f49031ccaf00'), 'Name': 'priya', 'Mobile': 12345678, 'Boolean': True, 'Pets': ['Dog', 'cat'], 'Address': {'Permanent address': 'USA', 'current Address': 'AU'}}

In [45]:
details.insert_one({"Name": "sara",
  "Mobile": 992324535,
  "Boolean": True,
  "Pets": ["Dog", "cat"],
   "Address": {"Permanent address": "USA","current Address": "AU"}})

In [48]:
details.insert_many(
    [{"Name": "roja",
  "Mobile": 123367894,
  "Boolean": False,
  "Pets": ["Dog", "cat"],
  "Address": {"Permanent address": "Canada","current Address": "CD"}},
  {"Name": "shanmuga",
  "Mobile": 2131123437,
  "Boolean": True,
  "Pets": ["Dog", "cat"],
  "Address": {"Permanent address": "South Korea","current Address": "SK"}},
  {"Name": "swaathi",
  "Mobile": 1799734563,
  "Boolean": True,
  "Pets": ["Dog", "cat"],
  "Address": {"Permanent address": "France","current Address": "FP"}}]
)

In [52]:
for i in details.find():
    print(i)

{'_id': ObjectId('61d736398195f49031ccaf00'), 'Name': 'priya', 'Mobile': 12345678, 'Boolean': True, 'Pets': ['Dog', 'cat'], 'Address': {'Permanent address': 'USA', 'current Address': 'AU'}}
{'_id': ObjectId('61d738348195f49031ccaf01'), 'Name': 'sara', 'Mobile': 992324535, 'Boolean': True, 'Pets': ['Dog', 'cat'], 'Address': {'Permanent address': 'USA', 'current Address': 'AU'}}
{'_id': ObjectId('61d738938195f49031ccaf02'), 'Name': 'roja', 'Mobile': 123367894, 'Boolean': False, 'Pets': ['Dog', 'cat'], 'Address': {'Permanent address': 'Canada', 'current Address': 'CD'}}
{'_id': ObjectId('61d738938195f49031ccaf03'), 'Name': 'shanmuga', 'Mobile': 2131123437, 'Boolean': True, 'Pets': ['Dog', 'cat'], 'Address': {'Permanent address': 'South Korea', 'current Address': 'SK'}}
{'_id': ObjectId('61d738938195f49031ccaf04'), 'Name': 'swaathi', 'Mobile': 1799734563, 'Boolean': True, 'Pets': ['Dog', 'cat'], 'Address': {'Permanent address': 'France', 'current Address': 'FP'}}

### Update_one

In [59]:
details.update_one(
    {"Name":"priya"},
    {"$set":{"Address.current Address":"California","Boolean":"Updated_true"},
    "$currentDate":{"lastmodified":True}}
)

In [60]:
for i in details.find({"Name":"priya"}):
    print(i)

{'_id': ObjectId('61d736398195f49031ccaf00'), 'Name': 'priya', 'Mobile': 12345678, 'Boolean': 'Updated_true', 'Pets': ['Dog', 'cat'], 'Address': {'Permanent address': 'USA', 'current Address': 'California'}, 'lastmodified': datetime.datetime(2022, 1, 6, 18, 57, 3, 68000)}

### update_many

In [63]:
details.update_many(
    {"Boolean":True},
    {"$set":{"Mobile":"99900000"},
    "$currentDate":{"last_modified":True}}
)

In [64]:
for i in details.find():
    print(i)

{'_id': ObjectId('61d736398195f49031ccaf00'), 'Name': 'priya', 'Mobile': 12345678, 'Boolean': 'Updated_true', 'Pets': ['Dog', 'cat'], 'Address': {'Permanent address': 'USA', 'current Address': 'California'}, 'lastmodified': datetime.datetime(2022, 1, 6, 18, 57, 3, 68000)}
{'_id': ObjectId('61d738348195f49031ccaf01'), 'Name': 'sara', 'Mobile': '99900000', 'Boolean': True, 'Pets': ['Dog', 'cat'], 'Address': {'Permanent address': 'USA', 'current Address': 'AU'}, 'Pets[0]': 'Parrot', 'last_modified': datetime.datetime(2022, 1, 6, 19, 4, 36, 639000)}
{'_id': ObjectId('61d738938195f49031ccaf02'), 'Name': 'roja', 'Mobile': 123367894, 'Boolean': False, 'Pets': ['Dog', 'cat'], 'Address': {'Permanent address': 'Canada', 'current Address': 'CD'}}
{'_id': ObjectId('61d738938195f49031ccaf03'), 'Name': 'shanmuga', 'Mobile': '99900000', 'Boolean': True, 'Pets': ['Dog', 'cat'], 'Address': {'Permanent address': 'South Korea', 'current Address': 'SK'}, 'Pets[0]': 'Parrot', 'last_modified': datetime.datetime(2022, 1, 6, 19, 4, 36, 639000)}
{'_id': ObjectId('61d738938195f49031ccaf04'), 'Name': 'swaathi', 'Mobile': '99900000', 'Boolean': True, 'Pets': ['Dog', 'cat'], 'Address': {'Permanent address': 'France', 'current Address': 'FP'}, 'Pets[0]': 'Parrot', 'last_modified': datetime.datetime(2022, 1, 6, 19, 4, 36, 639000)}

### Replace

In [65]:
details.replace_one(
    {"Name":"shanmuga"},#filter
    {"Name":"shanmuga",
     "Location": "Seoul"}
)

In [66]:
for i in details.find():
    print(i)

{'_id': ObjectId('61d736398195f49031ccaf00'), 'Name': 'priya', 'Mobile': 12345678, 'Boolean': 'Updated_true', 'Pets': ['Dog', 'cat'], 'Address': {'Permanent address': 'USA', 'current Address': 'California'}, 'lastmodified': datetime.datetime(2022, 1, 6, 18, 57, 3, 68000)}
{'_id': ObjectId('61d738348195f49031ccaf01'), 'Name': 'sara', 'Mobile': '99900000', 'Boolean': True, 'Pets': ['Dog', 'cat'], 'Address': {'Permanent address': 'USA', 'current Address': 'AU'}, 'Pets[0]': 'Parrot', 'last_modified': datetime.datetime(2022, 1, 6, 19, 4, 36, 639000)}
{'_id': ObjectId('61d738938195f49031ccaf02'), 'Name': 'roja', 'Mobile': 123367894, 'Boolean': False, 'Pets': ['Dog', 'cat'], 'Address': {'Permanent address': 'Canada', 'current Address': 'CD'}}
{'_id': ObjectId('61d738938195f49031ccaf03'), 'Name': 'shanmuga', 'Location': 'Seoul'}
{'_id': ObjectId('61d738938195f49031ccaf04'), 'Name': 'swaathi', 'Mobile': '99900000', 'Boolean': True, 'Pets': ['Dog', 'cat'], 'Address': {'Permanent address': 'France', 'current Address': 'FP'}, 'Pets[0]': 'Parrot', 'last_modified': datetime.datetime(2022, 1, 6, 19, 4, 36, 639000)}

### MongoDB Aggregation and Group

In [2]:
import pymongo

In [3]:
Client=pymongo.MongoClient("mongodb://localhost:27017/")

In [4]:
my_database=Client["Student_details"]

In [5]:
Collection=my_database["Stduent_Scores"]

In [7]:
Collection.insert_many([ {"user":"Krish", "subject":"Database", "score":80}, 
    {"user":"Amit",  "subject":"JavaScript", "score":90}, 
    {"user":"Amit",  "title":"Database", "score":85}, 
    {"user":"Krish",  "title":"JavaScript", "score":75}, 
    {"user":"Amit",  "title":"Data Science", "score":60},
    {"user":"Krish",  "title":"Data Science", "score":95}])

In [8]:
for i in Collection.find():
    print(i)

{'_id': ObjectId('61d7ca707b850fc282f160c5'), 'user': 'Krish', 'subject': 'Database', 'score': 80}
{'_id': ObjectId('61d7ca707b850fc282f160c6'), 'user': 'Amit', 'subject': 'JavaScript', 'score': 90}
{'_id': ObjectId('61d7ca707b850fc282f160c7'), 'user': 'Amit', 'title': 'Database', 'score': 85}
{'_id': ObjectId('61d7ca707b850fc282f160c8'), 'user': 'Krish', 'title': 'JavaScript', 'score': 75}
{'_id': ObjectId('61d7ca707b850fc282f160c9'), 'user': 'Amit', 'title': 'Data Science', 'score': 60}
{'_id': ObjectId('61d7ca707b850fc282f160ca'), 'user': 'Krish', 'title': 'Data Science', 'score': 95}

In [13]:
# total no.of records for krish and amit
agg_records=Collection.aggregate([{"$group":
                                     {"_id":"$user",
                                      "Total_records":{"$sum":1}}}])

In [16]:
for i in agg_records:
    print(i)

{'_id': 'Krish', 'Total_records': 3}
{'_id': 'Amit', 'Total_records': 3}

In [17]:
# total no.of records 
agg_records1=Collection.aggregate([{"$group":
                                     {"_id":"user",
                                      "Total_records":{"$sum":1}}}])

In [18]:
for i in agg_records1:
    print(i)

{'_id': 'user', 'Total_records': 6}

In [23]:
# sum of score per user
agg_score=Collection.aggregate([{"$group":
                                {"_id":"$user",
                                "Total_score":{"$sum":"$score"}}}]
                              )

In [24]:
for i in agg_score:
    print(i)

{'_id': 'Krish', 'Total_score': 250}
{'_id': 'Amit', 'Total_score': 235}

In [25]:
# avg sum of the score per user
avg_score=Collection.aggregate([{"$group":
                                {"_id":"$user",
                                "Avg_score":{"$avg":"$score"}}}])

In [26]:
for i in avg_score:
    print(i)

{'_id': 'Amit', 'Avg_score': 78.33333333333333}
{'_id': 'Krish', 'Avg_score': 83.33333333333333}

In [27]:
import datetime as datetime

In [28]:
### Create a new collection
data=[{ "_id" : 1, "item" : "abc", "price" : 10, "quantity" : 2, "date" : datetime.datetime.utcnow()},
{ "_id" : 2, "item" : "jkl", "price" : 20, "quantity" : 1, "date" : datetime.datetime.utcnow() },
{ "_id" : 3, "item" : "xyz", "price" : 5, "quantity" : 5, "date" : datetime.datetime.utcnow() },
{ "_id" : 4, "item" : "abc", "price" : 10, "quantity" : 10, "date" : datetime.datetime.utcnow() },
{ "_id" : 5, "item" : "xyz", "price" : 5, "quantity" : 10, "date" :datetime.datetime.utcnow() }]

In [29]:
mycollection=my_database.collection["stores"]

In [30]:
mycollection.insert_many(data)

In [31]:
for i in mycollection.find():
    print(i)

{'_id': 1, 'item': 'abc', 'price': 10, 'quantity': 2, 'date': datetime.datetime(2022, 1, 7, 6, 9, 14, 658000)}
{'_id': 2, 'item': 'jkl', 'price': 20, 'quantity': 1, 'date': datetime.datetime(2022, 1, 7, 6, 9, 14, 658000)}
{'_id': 3, 'item': 'xyz', 'price': 5, 'quantity': 5, 'date': datetime.datetime(2022, 1, 7, 6, 9, 14, 658000)}
{'_id': 4, 'item': 'abc', 'price': 10, 'quantity': 10, 'date': datetime.datetime(2022, 1, 7, 6, 9, 14, 658000)}
{'_id': 5, 'item': 'xyz', 'price': 5, 'quantity': 10, 'date': datetime.datetime(2022, 1, 7, 6, 9, 14, 658000)}

In [37]:
## calculating the average price and avg.quantity aggregate

agg_avg_pri_quan = mycollection.aggregate([{"$group":
                                           {"_id":"$item",
                                           "Avg_Amount":{"$avg":{"$multiply":["$price","$quantity"]}},
                                           "Avg_quantity":{"$avg":"$quantity"}}}])

In [38]:
for i in agg_avg_pri_quan:
    print(i)

{'_id': 'xyz', 'Avg_Amount': 37.5, 'Avg_quantity': 7.5}
{'_id': 'abc', 'Avg_Amount': 60.0, 'Avg_quantity': 6.0}
{'_id': 'jkl', 'Avg_Amount': 20.0, 'Avg_quantity': 1.0}

In [39]:
# sorting 
sort=  mycollection.aggregate([{"$sort":
                                {"_id":-1}}])

In [40]:
for i in sort:
    print(i)

{'_id': 5, 'item': 'xyz', 'price': 5, 'quantity': 10, 'date': datetime.datetime(2022, 1, 7, 6, 9, 14, 658000)}
{'_id': 4, 'item': 'abc', 'price': 10, 'quantity': 10, 'date': datetime.datetime(2022, 1, 7, 6, 9, 14, 658000)}
{'_id': 3, 'item': 'xyz', 'price': 5, 'quantity': 5, 'date': datetime.datetime(2022, 1, 7, 6, 9, 14, 658000)}
{'_id': 2, 'item': 'jkl', 'price': 20, 'quantity': 1, 'date': datetime.datetime(2022, 1, 7, 6, 9, 14, 658000)}
{'_id': 1, 'item': 'abc', 'price': 10, 'quantity': 2, 'date': datetime.datetime(2022, 1, 7, 6, 9, 14, 658000)}