## Inheritance

In [1]:
class person:
    def __init__(self,f_name,l_name,y_o_b,sal):
        self.fname=f_name
        self.lname=l_name
        self.yob=y_o_b
        self.salary=sal
        
    def age(self,current_year):
        return current_year-self.yob
    
    def saly(self,div):
        return self.salary/div

In [42]:
p=person("shanmuga",'priya',1996,430000)

In [10]:
p.fname

'shanmuga'

In [11]:
p.yob

1996

In [34]:
p.age(2021)

25

In [43]:
p.saly(12)

35833.333333333336

In [52]:
class emp(person):
    def __init__(self,emp_id,*args):
        super(emp,self).__init__(*args)
        self.empid=emp_id

In [53]:
e=emp(122,'anushka','sharma',1980,1000000)

In [54]:
e.empid

122

In [55]:
e.fname

'anushka'

In [56]:
e.age(2021)

41

In [57]:
e.saly(12)

83333.33333333333

## Multiple Inheritance

In [27]:
class test1:
    def __init__(self,a,b):
        self.a=a
        self.b=b
    def msg(self):
        return "this is msg function with  value of A ",self.a
    
class test2:
    def __init__(self,c,d):
        self.c=c
        self.d=d
    def val(self):
        return "this is val function with  value of C,D ",self.c,self.d

In [28]:
class test3(test1,test2):
    def __init__(self,*args):
        test1.__init__(self,*args)
        test2.__init__(self,*args)
    def fun(self):
        return "this is fun function with  value of A,D ",self.a,self.d

In [29]:
cal=test3(1,2)

In [30]:
cal.msg()

('this is msg function with  value of A ', 1)

In [31]:
cal.val()

('this is val function with  value of C,D ', 1, 2)

In [32]:
cal.fun()

('this is fun function with  value of A,D ', 1, 2)

In [39]:
class test4(test1,test2):
    def __init__(self,a,b,c,d):
        test1.__init__(self,a,b)
        test2.__init__(self,c,d)
    def lt(self):
        return "this is fun function with  value of A,B,C,D",self.a,self.b,self.c,self.d

In [40]:
obj=test4(1,2,3,4)

In [35]:
obj.msg()

('this is msg function with  value of A ', 1)

In [36]:
obj.val()

('this is val function with  value of C,D ', 3, 4)

In [41]:
obj.lt()

('this is fun function with  value of A,B,C,D', 1, 2, 3, 4)

## Multi-Level Inheritance

In [2]:
class mag:
    def __init__(self,md,shareholder):
        self.md=md
        self.shareholder=shareholder
        
    def mag_head(self):
        return "The MD {} and the shareholder {} is most important person in this company.".format(self.md,self.shareholder)

In [3]:
class office(mag):
    def __init__(self,md,shareholder,hr,manager):
        mag.__init__(self,md,shareholder)
        self.hr=hr
        self.manager=manager
        
    def office_head(self):
        return "The HR {} and the Manager {},MD {} and the shareholder {} .".format(self.hr,self.manager,self.md,self.shareholder)
    def office_details(self):
        return "The HR {} and Manager {}".format(self.hr,self.manager)

In [15]:
class team(office):
    def __init__(self,md,shareholder,hr,manager,tl,dev):
        office.__init__(self,md,shareholder,hr,manager)
        self.tl=tl
        self.dev=dev
    def team_head(self):
        return "The Hr {} , the Manager {} , TL {} and the dev {} ".format(self.hr,self.manager,self.tl,self.dev)
    def team_details(self):
        return "The TL {} and the dev {} ".format(self.tl,self.dev)

In [26]:
o=office("shanmuga",'priya','rosey','princee')

In [27]:
o.mag_head()

'The MD shanmuga and the shareholder priya is most important person in this company.'

In [28]:
o.office_head()

'The HR rosey and the Manager princee,MD shanmuga and the shareholder priya .'

In [29]:
o.office_details()

'The HR rosey and Manager princee'

In [17]:
t=team("mehgana","rashika","tanu","avni","jhon","renuka")

In [11]:
t.mag_head()

'The MD mehgana and the shareholder rashika is most important person in this company.'

In [12]:
t.office_head()

'The HR tanu and the Manager avni,MD mehgana and the shareholder rashika .'

In [13]:
t.office_details()

'The HR tanu and Manager avni'

In [18]:
t.team_head()

'The Hr tanu , the Manager avni , TL jhon and the dev renuka '

In [19]:
t.team_details()

'The TL jhon and the dev renuka '

## Method Overridding

In [67]:
class person:
    def __init__(self,name,l_name,age):
        self.name=name
        self.l_name=l_name
        self.age=age
        
    def __str__(self):
        return self.name

In [70]:
class students(person):
    def __init__(self,studentid,name,l_name,age):
        person.__init__(self,name,l_name,age)
        self.studentid=studentid
        
    def __str__(self):
        return person.__str__(self)+str(self.studentid)

In [71]:
s=students(101,"shanmuga","priya",22)

In [72]:
s.__str__()

'shanmuga101'

In [44]:
class parent:
    def __init__(self,name,age,classs):
        self.name=name
        self.age=age
        self.classs=classs
    def __str__(self):
        return self.name

In [38]:
p=parent("priya",23,5)

In [41]:
p.age

23

In [40]:
p.__str__()

'priya'

In [58]:
class child(parent):
    def __init__(self,stdid,name,age,classs):
        parent.__init__(self,name,age,classs)
        self.stdid=stdid
    def __str__(self):
        return parent.__str__(self) + ' '+str(self.stdid)

In [59]:
c=child(12,"priya",25,5)

In [60]:
c.__str__()

'priya 12'

## Encapsulation

In [91]:
class tyre:
    def __init__(self, branch, belted_bias, opt_pressure):
        self.branch=branch
        self.belted_bias=belted_bias
        self.opt_pressure=opt_pressure
    def __str__(self):
        return self.branch+' '+self.belted_bias+' '+self.opt_pressure
class engine:
    def __init__(self, engine_type,noise_level):
        self.engine_type=engine_type
        self.noise_level=noise_level
    def __str__(self):
        return self.engine_type+' '+self.noise_level
class body:
    def __init__(self,size):
        self.size=size
    def __str__(self):
        return self.size
class car:
    def __init__(self, a,b,c):
        self.a=a
        self.b=b
        self.c=c
    def __str__(self):
        return str(self.a)+' '+str(self.b)+' '+str(self.c)

In [76]:
t=tyre("branch","belted_bias","opt_pressure")

In [77]:
print(t)

branch belted_bias opt_pressure

In [78]:
t.__str__()

'branch belted_bias opt_pressure'

In [83]:
t.branch

'branch'

In [79]:
e=engine("engine_type","noise_level")

In [80]:
print(e)

engine_type noise_level

In [81]:
b=body("size")

In [82]:
print(b)

size

In [84]:
c=car("a","b","c")

In [85]:
print(c)

a b c

In [87]:
c.c

'c'

In [88]:
c.a

'a'

In [92]:
c1=car(t,e,b) ## passing class object as parameter.

In [93]:
print(c1)

branch belted_bias opt_pressure engine_type noise_level size

In [113]:
class test:
    def __init__(self,a,b):
        self.__a=a # private 
        self._b=b  # protected
class test1(test):
    def __init__(self,c,a,b):
        test.__init__(self,a,b)
        self.c=c # public
        print(self._test__a)
        print(self._b)
        print(self.c)
obj=test1(3,4,5)

4
5
3

## Polymorphism

In [114]:
def t1(a,b):
    return a+b

In [115]:
t1(1,2)

3

In [116]:
t1("shamuga","priya")

'shamugapriya'

In [5]:
class instagram:
    def shared_stories(self):
        print ("This is instagram stories...")
class facebook:
    def shared_stories(self):
        print ("This is Facebook stories...")

In [6]:
inst=instagram()
fb=facebook()

In [7]:
def sharedstories(app):
    app.shared_stories()

In [8]:
sharedstories(inst)

This is instagram stories...

In [146]:
sharedstories(fb)

This is Facebook stories...

In [28]:
class ineuron:
    company_website="Ineuron.ai"
    name="Ineuron"
    def __init__(self,ceo):
        self.ceo=ceo
    def company_details(self):
        print("contact us on :",self.company_website)
        
class MLclass(ineuron):
    def __init__(self,year_of_establishment,ceo):
        ineuron.__init__(self,ceo)
        self.year_of_establishment=year_of_establishment
    def est_details(self):
        print("The {} company will be contacted on {} ".format(self.name,self.company_website))
        print("Company establish on : ",self.year_of_establishment)
        print("The CEO of Ineuron is :",self.ceo)

In [29]:
ml=MLclass(2016,"Sudhanshu")

In [30]:
ml.est_details()

The Ineuron company will be contacted on Ineuron.ai
Company establish on :  2016
The CEO of Ineuron is : Sudhanshu