In [1]:
import sqlite3

In [2]:
c=sqlite3.connect("xyz_database")

In [3]:
c.execute("drop table if exists emp")

In [4]:
c.execute("create table emp(emp_id int,emp_name text,emp_salary int)")

In [5]:
c.execute("insert into emp values(1,'priya',30000)")

In [15]:
c.execute("insert into emp values(1,'priya',30000)")
c.execute("insert into emp values(21,'priya1',40000)")
c.execute("insert into emp values(14,'priya',586000)")
c.execute("insert into emp values(15,'priya3',30687000)")
c.execute("insert into emp values(17,'priya',34500)")
c.execute("insert into emp values(41,'priya5',30000)")
c.execute("insert into emp values(177,'priya',45000)")
c.execute("insert into emp values(156,'priya7',300450)")
c.execute("insert into emp values(11,'priya',305450)")

In [18]:
c.commit()

In [17]:
c.execute("delete  from emp  where emp_id='1'")

In [22]:
a=list(c.execute("select *   from emp  where emp_name='priya'") )

In [24]:
a

[(14, 'priya', 586000),
 (17, 'priya', 34500),
 (177, 'priya', 45000),
 (11, 'priya', 305450)]

In [29]:
a[0]

(14, 'priya', 586000)

In [28]:
type(a[0])

tuple

In [25]:
b=list(c.execute("select *   from emp  order by emp_salary") )

In [26]:
b

[(41, 'priya5', 30000),
 (41, 'priya5', 30000),
 (17, 'priya', 34500),
 (21, 'priya1', 40000),
 (21, 'priya1', 40000),
 (177, 'priya', 45000),
 (156, 'priya7', 300450),
 (156, 'priya7', 300450),
 (11, 'priya', 305450),
 (14, 'priya', 586000),
 (15, 'priya3', 30687000),
 (15, 'priya3', 30687000)]

In [27]:
type(b)

list

In [32]:
for i in c.execute("select * from emp"):
    print(i)

(21, 'priya1', 40000)
(15, 'priya3', 30687000)
(41, 'priya5', 30000)
(156, 'priya7', 300450)
(21, 'priya1', 40000)
(14, 'priya', 586000)
(15, 'priya3', 30687000)
(17, 'priya', 34500)
(41, 'priya5', 30000)
(177, 'priya', 45000)
(156, 'priya7', 300450)
(11, 'priya', 305450)