# pymongo library

 ### Nosql db(Mongo DB)
 Not saved as tables instead save as documents inside the collection which is present inside the database.
 
 Value are stored in Json format as key-value pair, hence we can change the number of column.
 
 Mongo db is scaleable. 
 
 Horizontal scaling is possible (different instance of machine).

 Note: vertical scaling will change  (increase) the power of RAM.
 
 Note: horizontal scaling - we can have the collection of more than one machine (adding more machine to single ram to work distribuatedly)
 
### sql db
 Saved in tables.
 
 Schema is fixed, can't change the column.
 
 Horizontal scaling is not possible .

In [14]:
pip install pymongo

Requirement already satisfied: pymongo in c:\users\dell\anaconda3\lib\site-packages (3.12.1)
Note: you may need to restart the kernel to use updated packages.

In [16]:
pip install dnspython 
# helps to run python on mongodb cloud

Requirement already satisfied: dnspython in c:\users\dell\anaconda3\lib\site-packages (2.1.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pymongo

In [2]:
import ssl

In [5]:
# connectivity 
client=pymongo.MongoClient("mongodb+srv://moon:moon@cluster0.z3cus.mongodb.net/myFirstDatabase?retryWrites=true&w=majority"
                           ,ssl_cert_reqs=ssl.CERT_NONE)
db=client.test

## To create database

In [6]:
database_name="student_database"
student_database=client[database_name]

# db will not be created without inserting the document in it

## To create collection

In [9]:
collection="student_details"

In [10]:
student_details_collection=client.student_database[collection]

## To create document 

we can insert in different way as insert_one or insert_many, insert

In [11]:
student_data={
    "name": "priya",
    "college":"SSVM",
    "address":"Pondy"
}

## To insert document inside the collection

In [12]:
student_details_collection.insert_one(student_data)

## To fecth the details from MongoDB

In [14]:
student_cursor=student_details_collection.find()

In [15]:
student_cursor.next()

{'_id': ObjectId('61c4025aa7f774eb11a54dfa'),
 'name': 'priya',
 'college': 'SSVM',
 'address': 'Pondy'}

In [17]:
for i in student_details_collection.find():
    print(i)

{'_id': ObjectId('61c4025aa7f774eb11a54dfa'), 'name': 'priya', 'college': 'SSVM', 'address': 'Pondy'}

## To insert multiple record in DB

In [18]:
student_data_list=[
    {"name":"roja","age":"26","degree":"IT"},
    {"address":"pondy","job":"developer","domain":"Telecom"},
    {"course":"ML"}
]

In [19]:
student_details_collection.insert_many(student_data_list)

In [20]:
for i in student_details_collection.find():
    print(i)

{'_id': ObjectId('61c4025aa7f774eb11a54dfa'), 'name': 'priya', 'college': 'SSVM', 'address': 'Pondy'}
{'_id': ObjectId('61c4045ca7f774eb11a54dfb'), 'name': 'roja', 'age': '26', 'degree': 'IT'}
{'_id': ObjectId('61c4045ca7f774eb11a54dfc'), 'address': 'pondy', 'job': 'developer', 'domain': 'Telecom'}
{'_id': ObjectId('61c4045ca7f774eb11a54dfd'), 'course': 'ML'}

## How to apply filter

In [21]:
query={"name":"roja"}

In [22]:
for i in student_details_collection.find(query):
    print(i)

{'_id': ObjectId('61c4045ca7f774eb11a54dfb'), 'name': 'roja', 'age': '26', 'degree': 'IT'}

In [23]:
std_data={"name":"priya","college":"MLDL"}

In [24]:
student_details_collection.insert_one(std_data)

In [26]:
for i in student_details_collection.find():
    print(i)

{'_id': ObjectId('61c4025aa7f774eb11a54dfa'), 'name': 'priya', 'college': 'SSVM', 'address': 'Pondy'}
{'_id': ObjectId('61c4045ca7f774eb11a54dfb'), 'name': 'roja', 'age': '26', 'degree': 'IT'}
{'_id': ObjectId('61c4045ca7f774eb11a54dfc'), 'address': 'pondy', 'job': 'developer', 'domain': 'Telecom'}
{'_id': ObjectId('61c4045ca7f774eb11a54dfd'), 'course': 'ML'}
{'_id': ObjectId('61c418dfa7f774eb11a54dfe'), 'name': 'priya', 'college': 'MLDL'}

 ## find_one() -- give 1st occurance of the record

In [30]:
x=student_details_collection.find_one()
print(x)

{'_id': ObjectId('61c4025aa7f774eb11a54dfa'), 'name': 'priya', 'college': 'SSVM', 'address': 'Pondy'}

In [35]:
for i in student_details_collection.find({},{"_id":0,"name":1}): # value will be 0 or 1
    print(i)

{'name': 'priya'}
{'name': 'roja'}
{}
{}
{'name': 'priya'}

In [36]:
for i in student_details_collection.find({},{"name":0}):
    print(i)

{'_id': ObjectId('61c4025aa7f774eb11a54dfa'), 'college': 'SSVM', 'address': 'Pondy'}
{'_id': ObjectId('61c4045ca7f774eb11a54dfb'), 'age': '26', 'degree': 'IT'}
{'_id': ObjectId('61c4045ca7f774eb11a54dfc'), 'address': 'pondy', 'job': 'developer', 'domain': 'Telecom'}
{'_id': ObjectId('61c4045ca7f774eb11a54dfd'), 'course': 'ML'}
{'_id': ObjectId('61c418dfa7f774eb11a54dfe'), 'college': 'MLDL'}

In [40]:
# combination of value 0 , 1 will not be allowed in field column
for i in student_details_collection.find({},{"name":0,"college":1}):
    print(i)

OperationFailure: Cannot do inclusion on field college in exclusion projection, full error: {'operationTime': Timestamp(1640242335, 2), 'ok': 0.0, 'errmsg': 'Cannot do inclusion on field college in exclusion projection', 'code': 31253, 'codeName': 'Location31253', '$clusterTime': {'clusterTime': Timestamp(1640242335, 2), 'signature': {'hash': b'\x17\xba\xf7\x13\xe6\xb2[C\x1e\xda\xcdB322\x01\xa9V\xeb\r', 'keyId': 7000399820321980417}}}

In [38]:
for i in student_details_collection.find({},{"name":0,"college":0}):
    print(i)

{'_id': ObjectId('61c4025aa7f774eb11a54dfa'), 'address': 'Pondy'}
{'_id': ObjectId('61c4045ca7f774eb11a54dfb'), 'age': '26', 'degree': 'IT'}
{'_id': ObjectId('61c4045ca7f774eb11a54dfc'), 'address': 'pondy', 'job': 'developer', 'domain': 'Telecom'}
{'_id': ObjectId('61c4045ca7f774eb11a54dfd'), 'course': 'ML'}
{'_id': ObjectId('61c418dfa7f774eb11a54dfe')}

In [39]:
for i in student_details_collection.find({},{"name":1,"college":1}):
    print(i)

{'_id': ObjectId('61c4025aa7f774eb11a54dfa'), 'name': 'priya', 'college': 'SSVM'}
{'_id': ObjectId('61c4045ca7f774eb11a54dfb'), 'name': 'roja'}
{'_id': ObjectId('61c4045ca7f774eb11a54dfc')}
{'_id': ObjectId('61c4045ca7f774eb11a54dfd')}
{'_id': ObjectId('61c418dfa7f774eb11a54dfe'), 'name': 'priya', 'college': 'MLDL'}

## Advance Query

In [46]:
q={"name":{"$gt":"r"}} # alphabets with r or higher

In [47]:
for i in student_details_collection.find(q):
    print(i)

{'_id': ObjectId('61c4045ca7f774eb11a54dfb'), 'name': 'roja', 'age': '26', 'degree': 'IT'}

In [52]:
## regular expression also used 
qr={"name":{"$regex": "^p"}} # start with p
for i in student_details_collection.find(qr):
    print(i)

{'_id': ObjectId('61c4025aa7f774eb11a54dfa'), 'name': 'priya', 'college': 'SSVM', 'address': 'Pondy'}
{'_id': ObjectId('61c418dfa7f774eb11a54dfe'), 'name': 'priya', 'college': 'MLDL'}

## Sorting

In [57]:
sort_query= student_details_collection.find().sort("name")
for i in sort_query:
    print(i)

{'_id': ObjectId('61c4045ca7f774eb11a54dfc'), 'address': 'pondy', 'job': 'developer', 'domain': 'Telecom'}
{'_id': ObjectId('61c4045ca7f774eb11a54dfd'), 'course': 'ML'}
{'_id': ObjectId('61c4025aa7f774eb11a54dfa'), 'name': 'priya', 'college': 'SSVM', 'address': 'Pondy'}
{'_id': ObjectId('61c418dfa7f774eb11a54dfe'), 'name': 'priya', 'college': 'MLDL'}
{'_id': ObjectId('61c4045ca7f774eb11a54dfb'), 'name': 'roja', 'age': '26', 'degree': 'IT'}

In [56]:
sort_query= student_details_collection.find({},{"name":1}).sort("name")
for i in sort_query:
    print(i)

{'_id': ObjectId('61c4045ca7f774eb11a54dfc')}
{'_id': ObjectId('61c4045ca7f774eb11a54dfd')}
{'_id': ObjectId('61c4025aa7f774eb11a54dfa'), 'name': 'priya'}
{'_id': ObjectId('61c418dfa7f774eb11a54dfe'), 'name': 'priya'}
{'_id': ObjectId('61c4045ca7f774eb11a54dfb'), 'name': 'roja'}

In [60]:
sort_query= student_details_collection.find({},{"college":1}).sort("college",-1) # for desc ->-1 
for i in sort_query:
    print(i)

{'_id': ObjectId('61c4025aa7f774eb11a54dfa'), 'college': 'SSVM'}
{'_id': ObjectId('61c418dfa7f774eb11a54dfe'), 'college': 'MLDL'}
{'_id': ObjectId('61c4045ca7f774eb11a54dfb')}
{'_id': ObjectId('61c4045ca7f774eb11a54dfc')}
{'_id': ObjectId('61c4045ca7f774eb11a54dfd')}

In [61]:
sort_query= student_details_collection.find({},{"college":1}).sort("college",1) #  for asec -> 1
for i in sort_query:
    print(i)

{'_id': ObjectId('61c4045ca7f774eb11a54dfb')}
{'_id': ObjectId('61c4045ca7f774eb11a54dfc')}
{'_id': ObjectId('61c4045ca7f774eb11a54dfd')}
{'_id': ObjectId('61c418dfa7f774eb11a54dfe'), 'college': 'MLDL'}
{'_id': ObjectId('61c4025aa7f774eb11a54dfa'), 'college': 'SSVM'}

In [62]:
for i in student_details_collection.find():
    print(i)

{'_id': ObjectId('61c4025aa7f774eb11a54dfa'), 'name': 'priya', 'college': 'SSVM', 'address': 'Pondy'}
{'_id': ObjectId('61c4045ca7f774eb11a54dfb'), 'name': 'roja', 'age': '26', 'degree': 'IT'}
{'_id': ObjectId('61c4045ca7f774eb11a54dfc'), 'address': 'pondy', 'job': 'developer', 'domain': 'Telecom'}
{'_id': ObjectId('61c4045ca7f774eb11a54dfd'), 'course': 'ML'}
{'_id': ObjectId('61c418dfa7f774eb11a54dfe'), 'name': 'priya', 'college': 'MLDL'}

## Delete

In [63]:
#delete_one
student_details_collection.delete_one({"course":"ML"})

In [64]:
for i in student_details_collection.find():
    print(i)

{'_id': ObjectId('61c4025aa7f774eb11a54dfa'), 'name': 'priya', 'college': 'SSVM', 'address': 'Pondy'}
{'_id': ObjectId('61c4045ca7f774eb11a54dfb'), 'name': 'roja', 'age': '26', 'degree': 'IT'}
{'_id': ObjectId('61c4045ca7f774eb11a54dfc'), 'address': 'pondy', 'job': 'developer', 'domain': 'Telecom'}
{'_id': ObjectId('61c418dfa7f774eb11a54dfe'), 'name': 'priya', 'college': 'MLDL'}

In [66]:
#delete_many

dqr={"name":{"$regex":"^p"}}

student_details_collection.delete_many(dqr)

In [67]:
for i in student_details_collection.find():
    print(i)

{'_id': ObjectId('61c4045ca7f774eb11a54dfb'), 'name': 'roja', 'age': '26', 'degree': 'IT'}
{'_id': ObjectId('61c4045ca7f774eb11a54dfc'), 'address': 'pondy', 'job': 'developer', 'domain': 'Telecom'}

In [ ]:
# drop() of collection - give true is collection is present otherwise false will be populated

In [69]:
data=[{'name': 'priya', 'age': '25','college': 'SSVM', 'address': 'Pondy'},
     {'name': 'roja', 'age': '26','college': 'Ineuron', 'address': 'IT'}]

In [70]:
student_details_collection.insert_many(data)

In [71]:
for i in student_details_collection.find():
    print(i)

{'_id': ObjectId('61c4045ca7f774eb11a54dfb'), 'name': 'roja', 'age': '26', 'degree': 'IT'}
{'_id': ObjectId('61c4045ca7f774eb11a54dfc'), 'address': 'pondy', 'job': 'developer', 'domain': 'Telecom'}
{'_id': ObjectId('61c42374a7f774eb11a54dff'), 'name': 'priya', 'age': '25', 'college': 'SSVM', 'address': 'Pondy'}
{'_id': ObjectId('61c42374a7f774eb11a54e00'), 'name': 'roja', 'age': '26', 'college': 'Ineuron', 'address': 'IT'}

In [9]:
thisdict = [{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
},{1:"a",2:"c"}]
print((thisdict["year"]))

TypeError: list indices must be integers or slices, not str

In [16]:
t= {"a":thisdict}

In [4]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

In [5]:
myfamily

{'child1': {'name': 'Emil', 'year': 2004},
 'child2': {'name': 'Tobias', 'year': 2007},
 'child3': {'name': 'Linus', 'year': 2011}}

In [7]:
myfamily["child1"]["name"]

'Emil'

## Update

In [73]:
# update one

old_value ={"address":"Pondy"}
new_value ={"address":"pondy"}

student_details_collection.update_one(old_value,{"$set":new_value})

In [74]:
for i in student_details_collection.find():
    print(i)

{'_id': ObjectId('61c4045ca7f774eb11a54dfb'), 'name': 'roja', 'age': '26', 'degree': 'IT'}
{'_id': ObjectId('61c4045ca7f774eb11a54dfc'), 'address': 'pondy', 'job': 'developer', 'domain': 'Telecom'}
{'_id': ObjectId('61c42374a7f774eb11a54dff'), 'name': 'priya', 'age': '25', 'college': 'SSVM', 'address': 'pondy'}
{'_id': ObjectId('61c42374a7f774eb11a54e00'), 'name': 'roja', 'age': '26', 'college': 'Ineuron', 'address': 'IT'}

In [75]:
# update one will change only the 1st occurance of the value 

old_value ={"address":"pondy"}
new_value ={"address":"Tamil Nadu"}

student_details_collection.update_one(old_value,{"$set":new_value})

In [76]:
for i in student_details_collection.find():
    print(i)

{'_id': ObjectId('61c4045ca7f774eb11a54dfb'), 'name': 'roja', 'age': '26', 'degree': 'IT'}
{'_id': ObjectId('61c4045ca7f774eb11a54dfc'), 'address': 'Tamil Nadu', 'job': 'developer', 'domain': 'Telecom'}
{'_id': ObjectId('61c42374a7f774eb11a54dff'), 'name': 'priya', 'age': '25', 'college': 'SSVM', 'address': 'pondy'}
{'_id': ObjectId('61c42374a7f774eb11a54e00'), 'name': 'roja', 'age': '26', 'college': 'Ineuron', 'address': 'IT'}

In [80]:
## update_many

old_value ={"name":{"$regex":"^r"}}
new_value ={"name":"rashika"}
 
    
student_details_collection.update_many(old_value, {"$set":new_value})

In [81]:
for i in student_details_collection.find():
    print(i)

{'_id': ObjectId('61c4045ca7f774eb11a54dfb'), 'name': 'rashika', 'age': '26', 'degree': 'IT'}
{'_id': ObjectId('61c4045ca7f774eb11a54dfc'), 'address': 'Tamil Nadu', 'job': 'developer', 'domain': 'Telecom'}
{'_id': ObjectId('61c42374a7f774eb11a54dff'), 'name': 'priya', 'age': '25', 'college': 'SSVM', 'address': 'pondy'}
{'_id': ObjectId('61c42374a7f774eb11a54e00'), 'name': 'rashika', 'age': '26', 'college': 'Ineuron', 'address': 'IT'}

 ## Limit
 To limit the no.of to be returned

In [83]:
for i in student_details_collection.find().limit(3):
    print(i)

{'_id': ObjectId('61c4045ca7f774eb11a54dfb'), 'name': 'rashika', 'age': '26', 'degree': 'IT'}
{'_id': ObjectId('61c4045ca7f774eb11a54dfc'), 'address': 'Tamil Nadu', 'job': 'developer', 'domain': 'Telecom'}
{'_id': ObjectId('61c42374a7f774eb11a54dff'), 'name': 'priya', 'age': '25', 'college': 'SSVM', 'address': 'pondy'}